.header {
  max-width: 1280px;
  max-height: 100px;
  background: linear-gradient(to right, #5b483a, #262425, #211f20);
}

.wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.h1_title {
  font-size: 32px;
  color: #f1cdb3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

.p2 {
  font-size: 13px;
  color: white;
}

.right_side {
  text-align: center;
}

.nav_header {
  display: flex;
  justify-content: center;
}

.my-link {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  position: relative;
}

.my-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f1cdb3;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.my-link:hover::after {
  transform: scaleX(1);
}
