* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
}

.header {
  max-width: 1280px;
  max-height: 100px;
  background: linear-gradient(to right, #5b483a, #262425, #211f20);
}

.wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.h1_title {
  font-size: 32px;
  color: #f1cdb3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

.p2 {
  font-size: 13px;
  color: white;
}

.right_side {
  text-align: center;
}

a {
  padding-left: 35px;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.main {
}

.first_section {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #5b483a, #262425, #211f20);
}

.cry_story {
  padding-left: 40px;
  color: white;
  text-align: left;
}

.section-info_img {
  padding-left: 175px;
}

.button_make_friend {
  background-color: #f1cdb3;
  font-size: 17px;
  border-radius: 100px;
  padding: 15px 45px;
  cursor: pointer;
}

.section-info__title {
  align-items: center;
  font-size: 44px;
  line-height: 57px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
}

.section-info__p {
  align-items: center;
  font-size: 15px;
  line-height: 24px;
}

.section-info__psecond {
  margin-top: 25px;
}

.friend_photo {
  padding-top: 180px;
}

/* SECOND PART OF MAIN START */
.section-info {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 114px;
}

.section-info__rewiev {
  justify-content: center;
  padding-right: 175px;
  padding-left: 120px;
}

/* SECOND PART OF MAIN END */

/* THIRD PART START */
.pet-info {
}

.pet-info_body {
  width: 1280px;
  height: auto; /* Измените на auto для адекватного отображения */
  gap: 0px;
}

.pet-info_header {
  text-align: center;
  padding-bottom: 100px;
}

.pet-info_title {
  margin: 60px 0px;
}

.title {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
}

.pet-info_row {
  display: flex;
  justify-content: space-around;
}

.pet-info_column {
  text-align: center;
}

.item-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-about_img {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
}

.item-about_text {
  margin: 30px 0px;
  font-size: 18px;
  color: black;
}

.item-about_button {
  font-size: 17px;
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 1px solid #f1cdb3;
}

.item-about__button-rest {
  font-family: Georgia;
  font-size: 17px;
  background-color: #f1cdb3;
  border-radius: 100px;
  border: none;
  height: 52px;
  width: 261px;
  cursor: pointer;
  margin-top: 60px;
}

/* THIRD PART END */

/* FOURS PART START */

.shelter-help__title {
}

/* FOURS PART END */

footer {
  background: #333;
  text-align: center;
  padding: 10px 0;
}

/* Медиа-запросы для адаптивности */
@media (min-width: 1280px) {
  body {
    max-width: 1280px;
    margin: auto;
  }
}
